<h1>{{title}}</h1>

<div class="btn-group">
	<a type="button" class="btn btn-primary" href="/vehicle/{{vehicle.id}}/edit">Edit</a>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removeVehicleModal">Remove</button>
	<a type="button" class="btn btn-primary" href="/vehicle/{{vehicle.id}}/mpg">MPG</a>
</div>

<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Details
				</a>
			</h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <ul class="list-group">
                <li class="list-group-item">Purchase date: {{formatDate vehicle.purchase.date}}</li>
                <li class="list-group-item">Purchase price: {{formatCost vehicle.purchase.price}}</li>
                <li class="list-group-item">Fuel type: {{getFuelType vehicle.fuel.type}}</li>
                <li class="list-group-item">Fuel capacity: {{vehicle.fuel.capacity}}</li>
                <li class="list-group-item">Oil type: {{vehicle.oil.type}}</li>
                <li class="list-group-item">Oil capacity: {{vehicle.oil.capacity}}</li>
                <li class="list-group-item">Tyres:
                    <table class="table">
                        <tr>
                            <th>Position</th>
                            <th>Pressure</th>
                            <th>Size</th>
                        </tr>
                        <tr>
                            <td>Front</td>
                            <td>{{vehicle.tyres.front.capacity}}</td>
                            <td>{{vehicle.tyres.front.type}}</td>
                        </tr>
                        <tr>
                            <td>Rear</td>
                            <td>{{vehicle.tyres.rear.capacity}}</td>
                            <td>{{vehicle.tyres.rear.type}}</td>
                        </tr>
                    </table>
                </li>

            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo">
            <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					Summary
				</a>
			</h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <ul class="list-group">
				<li class="list-group-item">Fuel economy [min/max/avg]: {{formatMPG vehicle.summary.mpg.min}} | {{formatMPG vehicle.summary.mpg.max}} | {{formatMPG vehicle.summary.mpg.avg}}</li>
                <li class="list-group-item">Price per litre [min/max/avg]: {{formatCost vehicle.summary.ppl.min dp=3}} | {{formatCost vehicle.summary.ppl.max dp=3}} | {{formatCost vehicle.summary.ppl.avg dp=3}}</li>
				<li class="list-group-item">Total fuel cost: {{formatCost vehicle.summary.fuelCost}}</li>
				<li class="list-group-item">Total service cost: {{formatCost vehicle.summary.serviceCost}}</li>
				<li class="list-group-item">Total mileage: {{formatNumber vehicle.summary.mileage dp=1}}</li>
				<li class="list-group-item">Running cost (fuel+service): {{formatCost vehicle.summary.runningCost}}</li>
				<li class="list-group-item">Total cost (fuel+service+purchase): {{formatCost vehicle.summary.totalCost}}</li>
				<li class="list-group-item">Running cost/mile (fuel+service)/mileage: {{formatCost vehicle.summary.runningCostPerMile dp=3}}</li>
				<li class="list-group-item">Total cost/mile (total cost)/mileage: {{formatCost vehicle.summary.totalCostPerMile dp=3}}</li>
				<li class="list-group-item">Mileage per day: {{formatNumber vehicle.summary.milesPerDay dp=1}}</li>
				<li class="list-group-item">Mileage per year: {{formatNumber vehicle.summary.milesPerYear dp=1}}</li>
				<li class="list-group-item">Predicted Mileage per day: {{formatNumber vehicle.summary.predictedMilesPerDay dp=1}}</li>
				<li class="list-group-item">Predicted Mileage per year: {{formatNumber vehicle.summary.predictedMilesPerYear dp=1}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix" id="headingThree">
            <h4 class="panel-title pull-left">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
					Fuel Records {{vehicle.fuelIDs.length}} 
				</a>
			</h4>
			<a class="btn-primary btn-xs pull-right" role="button" href="/vehicle/{{vehicle.id}}/fuel/add">Add</a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <ul class="list-group">
				{{#each vehicle.fuelRecs}}
				<li class="list-group-item"><a href="/vehicle/{{../vehicle.id}}/fuel/{{this.id}}">{{this.toString}}</a></li>
				{{/each}}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix" id="headingFour">
            <h4 class="panel-title pull-left">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
					Service Records {{vehicle.serviceIDs.length}}
				</a>
			</h4>
			<a class="btn-primary btn-xs pull-right" href="/vehicle/{{vehicle.id}}/service/add">Add</a>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <ul class="list-group">
				{{#each vehicle.serviceRecs}}
				<li class="list-group-item"><a href="/vehicle/{{../vehicle.id}}/service/{{this.id}}">{{this.toString}}</a></li>
				{{/each}}
            </ul>
        </div>
    </div>

<!-- Modal -->
<div class="modal" id="removeVehicleModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Remove Vehicle?</h4>
      </div>
      <div class="modal-body">
		  Do you want to remove this vehicle [{{vehicle.regNo}}]?<br/>
		  All data associated with this vehicle will be removed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
		<a type="button" class="btn btn-warning" href="/vehicle/{{vehicle.id}}/remove">Remove</a>
      </div>
    </div>
  </div>
</div>
</div>

