<h1>{{vehicle.title}} | Add Fill up</h1>


<form class="form-horizontal" action="save" method="POST">
  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" name="date" id="date" placeholder="date">
    </div>
  </div>
  <div class="form-group">
    <label for="litres" class="col-sm-2 control-label">Fuel type</label>
    <div class="col-sm-10">
      <select name="type" class="form-control">
        {{#each fuelTypes}}
          {{#ifeq ../vehicle.fuelType this.[0]}}
            <option value="{{this.[0]}}" selected>{{this.[1]}}</option>
            {{else}}
              <option value="{{this.[0]}}">{{this.[1]}}</option>
          {{/ifeq}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="litres" class="col-sm-2 control-label">Litres</label>
    <div class="col-sm-10">
      <input type="number" step="0.01" required class="form-control" name="litres" id="litres" placeholder="litres">
    </div>
  </div>
  <div class="form-group">
    <label for="odo" class="col-sm-2 control-label">odometer</label>
    <div class="col-sm-10">
      <input type="number" step="1" class="form-control" name="odo" id="odo" placeholder="odometer" onchange="calcTrip({{fillUp.odo}}, this.value);">
    </div>
  </div>
  <div class="form-group">
    <label for="trip" class="col-sm-2 control-label">trip</label>
    <div class="col-sm-10">
      <input type="number" step="0.1" class="form-control" name="trip" id="trip" placeholder="trip">
    </div>
  </div>
  <div class="form-group">
    <label for="cost" class="col-sm-2 control-label">cost</label>
    <div class="col-sm-10">
      <input type="number" step="0.01" class="form-control" name="cost" id="cost" placeholder="cost" onchange="calcPPL();">
    </div>
  </div>
  <div class="form-group">
    <label for="ppl" class="col-sm-2 control-label">ppl</label>
    <div class="col-sm-10">
      <input type="number" step="0.001" class="form-control" name="ppl" id="ppl" placeholder="ppl">
    </div>
  </div>
  <div class="form-group">
    <label for="notes" class="col-sm-2 control-label">notes</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="notes" id="notes" placeholder="notes">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-warning" href="/vehicle/{{vehicle.id}}">Cancel</a>
    </div>
  </div>
</form>
<br/>
